<nav id="sidebar" class="sidebar js-sidebar bg-white">
    <div class="sidebar-content js-simplebar bg-white">
        <a class="sidebar-brand" href="index.html">
            <img src="/assets/img/logo/logo.png" alt="">
        </a>

        <ul class="list-unstyled ps-0">
            <li class="mb-1 sidebar-item">
                <a href="/admin"
                    class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-house text-primary fs-4 me-3"></i><span class="fs-4">Dashboard</span>
                </a>
            </li>
            <li class="mb-1 sidebar-item">
                <a href="/admin/category"
                    class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-table-list text-primary fs-4 me-3"></i><span
                        class="fs-4">Categories</span>
                    <i class=""></i>
                </a>
            </li>

            <li class="mb-1 sidebar-item"></li>
            <button class="btn btn-toggle rounded border-0 text-start px-4 collapsed sty-font"
                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class="fa-solid fa-ticket text-primary fs-4 me-3"></i><span class="fs-4">Support ticket</span>
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-4 small">
                    <li class="px-4 sidebar-item p-1"><a href="admin-openticket.html" class="sty-font1 "><i
                                class="fa-solid fa-ticket fs-4 me-3"></i><span class="fs-4 text-muted">Open
                                Ticket</span></a></li>
                    <li class="px-4 sidebar-item p-1"><a href="admin-viewticket.html" class="sty-font1 "><i
                                class="fa-solid fa-ticket fs-4 me-3"></i><span class="fs-4 text-muted">View
                                Ticket</span></a></li>
                </ul>
            </div>
            </li>
            <li class="mb-1 sidebar-item">
                <a class="btn btn-toggle   rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-headset text-primary fs-4 me-3"></i><span class="fs-4">Live chat
                        support</span>
                </a>
            </li>

            <li class="mb-1 sidebar-item">
                <a href="/admin/user-management"
                    class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-user text-primary  fs-4 me-3"></i><span class="fs-4">User
                        Management</span>
                </a>
            </li>
            <li class="mb-1 sidebar-item">
                <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-envelope text-primary  fs-4 me-3"></i><span class="fs-4">Mail inbox</span>
                </a>
            </li>
            <li class="mb-1 sidebar-item">
                <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-solid fa-bag-shopping text-primary  fs-4 me-3"></i><span class="fs-4">Orders</span>
                </a>
            </li>
            <li class="mb-1 sidebar-item">
                <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
                    <i class="fa-regular fa-file-code text-primary  fs-4 me-3"></i><span class="fs-4">website
                        Maintenance</span>
                </a>
            </li>

        </ul>




    </div>

</nav>