<nav id="sidebar" class="sidebar js-sidebar bg-white">
  <div class="sidebar-content js-simplebar bg-white">
    <a class="sidebar-brand" href="/dashboard">
      <img src="/assets/img/logo/logo.png" alt="">
    </a>

    <ul class="list-unstyled ps-0">

      <li class="mb-2 sidebar-item">
        <a href="/dashboard" class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-house  fs-3 me-3"></i><span class="fs-3">Dashboard</span>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <a href="/pricing-plan" class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-bag-shopping  fs-3 me-3"></i><span class="fs-3">Order Now</span>
          <i class=""></i>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <a href="/transactions" class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-regular fa-credit-card  fs-3 me-3"></i><span class="fs-3">Transaction</span>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <a class="btn btn-toggle   rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-server  fs-3 me-3"></i><span class="fs-3">Server Status</span>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <li class="mb-2 sidebar-item"></li>
				<button class="btn btn-toggle rounded border-0 text-start px-4 collapsed sty-font" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
					<i class="fa-solid fa-ticket text-dark fs-3 me-3"></i><span class="fs-3">Support ticket</span>
				</button>
				<div class="collapse" id="home-collapse">
				  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-4 small">
					<li class="px-4 sidebar-item p-1"><a href="/openticket" class="sty-font1 " ><i class="fa-solid fa-ticket text-dark fs-3 me-3"></i><span class="fs-3 text-muted">Open Ticket</span></a></li>
					<li class="px-4 sidebar-item p-1"><a href="/support" class="sty-font1 "><i class="fa-solid fa-ticket text-dark fs-3 me-3"></i><span class="fs-3 text-muted">View Ticket</span></a></li>
				  </ul>
				</div>
			  </li>

      <li class="mb-2 sidebar-item">
        <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-store  fs-3 me-3"></i><span class="fs-3">Store Manage</span>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-envelope  fs-3 me-3"></i><span class="fs-3">Mail Manage</span>
        </a>
      </li>
    </ul>


    <ul class="list-unstyled ps-0 position-absolute bottom-0">
      <hr class="position-relative bottom-0" style="height: 3px;color: antiquewhite;">
      <li class="mb-2 sidebar-item">
        <a href="/signout" class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-gear  fs-3 me-3"></i> <span class="fs-3">Sign Out</span>
        </a>
      </li>
      <li class="mb-2 sidebar-item">
        <a class="btn btn-toggle  rounded border-0 text-start px-4 collapsed sty-font1">
          <i class="fa-solid fa-gear  fs-3 me-3"></i><span class="fs-3">Knowledge Base</span>
        </a>
      </li>
    </ul>

  </div>

</nav>