<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="/" target="_blank"><strong>Shop2Host</strong></a>
                    &copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item me-2"></li>
                    <a class="text-muted" href="/termsandconditions" target="_blank">Terms & Conditions</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="/privacypolicy" target="_blank">Privacy & Policy</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="assets/css/app.css">
