<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/dashboard">
  <img src="assets/img/logo/logo2.png" alt="">
</a>

<ul class="list-unstyled ps-0">
    
    <li class="mb-1 sidebar-item">
      <a href="/dashboard" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
        <i class="fa-solid fa-house text-white fs-4 me-3"></i><span class="fs-4">Dashboard</span>	
      </a>
    </li>
    <li class="mb-1 sidebar-item">
      <a href="/pricing-plan" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
        <i class="fa-solid fa-bag-shopping text-white fs-4 me-3"></i><span class="fs-4">Order Now</span>	
        <i class=""></i>
      </a>
    </li>
    <li class="mb-1 sidebar-item">
      <a href="/transactions" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
        <i class="fa-regular fa-credit-card text-white fs-4 me-3"></i><span class="fs-4">Transaction</span>	
      </a>
    </li>
    <li class="mb-1 sidebar-item">
      <a href="" class="btn btn-toggle  text-white rounded border-0 text-start px-4 collapsed sty-font1" >
        <i class="fa-solid fa-server text-white fs-4 me-3"></i><span class="fs-4">Server Status</span>	
      </a>
    </li>
    <li class="mb-1 sidebar-item">
    <li class="mb-1 sidebar-item">
        <button class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            <i class="fa-solid fa-headset text-white fs-4 me-3"></i><span class="fs-4">Support</span>
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-4 small">
            <li class="px-4 sidebar-item p-1"><a href="/openticket" class="sty-font1 text-white" ><i class="fa-solid fa-ticket fs-4 me-3"></i><span class="fs-4">Open Ticket</span></a></li>
            <li class="px-4 sidebar-item p-1"><a href="/support" class="sty-font1 text-white"><i class="fa-solid fa-ticket fs-4 me-3"></i><span class="fs-4">View Ticket</span></a></li>
          </ul>
        </div>
      </li>
    
    <li class="mb-1 sidebar-item">
        <a href="/store-management" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
             <i class="fa-solid fa-store text-white fs-4 me-3"></i><span class="fs-4">Store Manage</span>		
        </a>
      </li>
      <li class="mb-1 sidebar-item">
        <a href="#" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
            <i class="fa-solid fa-envelope text-white fs-4 me-3"></i><span class="fs-4">Mail Manage</span>	
        </a>
      </li>
  </ul>
  

  <ul class="list-unstyled ps-0 position-absolute bottom-0">
<hr class="position-relative bottom-0" style="height: 3px;color: antiquewhite;">
<li class="mb-1 sidebar-item">
<a href="/signout" class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
  <i class="fa-solid fa-gear text-white fs-4 me-3"></i>	<span class="fs-4">Sign Out</span>
</a>
</li>
<li class="mb-1 sidebar-item">
<a  class="btn btn-toggle text-white rounded border-0 text-start px-4 collapsed sty-font1" >
  <i class="fa-solid fa-gear text-white fs-4 me-3"></i><span class="fs-4">Knowledge Base</span>	
</a>
</li>
</ul>	
        
    </div>
    
</nav>