<header>
  <div class="header-area homepage3 header header-sticky d-none d-lg-block p-0" id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav id="navbar-example2" class="navbar">
            <div class="header-elements">
              <div class="site-logo">
                <a href="/"><img src="/assets/img/logo/logo.png" style="width: 200px;" alt=""></a>
              </div>
              <div class="main-menu">
                <ul>
                  <li class="nav-item"><a href="/" class="nav-link"><span>Home</span></a></li>
                  <li><a >Pricing <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="dropdown-padding">
                      <li><a href="/liteplan">Lite Plan</a></li>
                      <li><a href="/heroplan">Hero Plan</a></li>
                      <li><a href="/proplan">Pro Plan</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="/faq" class="nav-link"><span>FAQ</span></a></li>
                  <li class="nav-item"><a href="/contact" class="nav-link"><span>Contact</span></a></li>
                  <li class="nav-item"><a href="/about" class="nav-link"><span>About</span></a></li>
                  <li class="nav-item"><a href="/login" class="nav-link"><span>Login</span></a></li>
                  <a href="/signup" class="header-btn5">Sign Up</a>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END =======-->

<!--===== MOBILE HEADER STARTS =======-->

<div class="mobile-header mobile-haeder2 pt-0 d-block d-lg-none">
  <div class="container-fluid" style="background: rgb(26,11,59);
  background: linear-gradient(53deg, rgba(26,11,59,1) 0%, rgba(47,24,99,1) 59%, rgba(58,30,120,1) 97%);">
      <div class="row justify-content-center">
          <div class="text-center">
              <div class="d-flex fw-semibold justify-content-center align-items-center text-white sty-top" style="height: 45px;">
                Get a 3-day free trial with your own domain for just ₹30 <button class="m-3 btn btn-sm btn-light fw-semibold">Trail Now</button>
              </div>
          </div>
          
      </div>
  </div>
  <div class="container-fluid">
   
    <div class="col-12">
     
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/"><img src="/assets/img/logo/logo.png" style="width: 200px;" alt=""></a>
        </div>
        <div class="mobile-nav-icon dots-menu">
          <i class="fa-solid fa-bars text-black"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar2">
  <div class="logosicon-area">
    <div class="logos">
      <img src="/assets/img/logo/logo.png" style="width: 200px;" alt="">
    </div>
    <div class="menu-close" style="margin-top: 35px;">
      <i class="btn-close "></i>
    </div>
  </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1 nav-sty">
      <li class="nav-item"><a href="/" class="nav-link"><span>Home</span></a></li>
      <li class="nav-item"><a href="/about" class="nav-link"><span>About</span></a></li>
      <li class="has-sub hash-has-sub"><span class="submenu-button"><em></em></span><a  class="hash-nav nav-sty">Pricing</a>
        <ul class="sub-menu nav-sty" style="display: none;">
          <li class="hash-has-sub"><a href="/liteplan" class="hash-nav nav-sty">Lite Plan</a></li>
          <li class="hash-has-sub"><a href="/heroplan" class="hash-nav nav-sty">Hero Plan</a></li>
          <li class="hash-has-sub"><a href="/proplan" class="hash-nav nav-sty">Pro Plan</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="/faq" class="nav-link"><span>FAQ</span></a></li>
      <li class="nav-item"><a href="/contact" class="nav-link"><span>Contact</span></a></li>


    </ul>

    <div class="allmobilesection">
      <a href="/signup" class="header-btn3 border-dark text-black mb-0">Sign Up</a>
      <a href="/login" class="header-btn3 border-dark text-black"> Login</a>
    </div>
  </div>
</div>
<!--===== MOBILE HEADER STARTS =======-->