<!--===== FOOTER AREA STARTS =======-->
<div class="footer3-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo-area">
            <a href="/"><img src="assets/img/logo/logo.png" style="width: 200px;" alt=""></a>
            <p>Shop 2 Host provides reliable and scalable web hosting solutions, ensuring that your online store runs smoothly and is accessible to customers around the clock.</p>
            <ul>
              <li><a href="#"><img src="assets/img/icons/facebook1.svg" alt=""></a></li>
              <li><a href="#"><img src="assets/img/icons/instagram3.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
  
        
  
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo-area2">
            <h3>Get in touch</h3>
            <ul>
              <li><a href="mailto:info@shop2host.com"><img src="assets/img/icons/email.svg" alt=""><span> info@shop2host.com</span></a></li>
              <li><a href="mailto:teamshop2host@gmail.com"><img src="assets/img/icons/email.svg" alt=""><span>teamshop2host@gmail.com</span></a></li>
              <li><a href="#"><img src="assets/img/icons/location.svg" alt=""><span>Shop2 Host , Payyanur , Kannur , Kerala 670353</span></a></li>
              <li><a href="tel:+918069328980"><img src="assets/img/icons/phone.svg" alt=""><span>+91 8069328980</span></a></li>
            </ul>
          </div>
        </div>
 
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo-area1">
            <h3>About Link</h3>
            <ul>
            <li ><a href="/" ><span>Home</span></a></li>
            <li ><a href="/pricing" ><span>Pricing</span></a></li>
            <li><a href="/faq" ><span>FAQ</span></a></li>
            <li ><a href="/contact" ><span>Contact</span></a></li>
            <li ><a href="/about" ><span>About</span></a></li>
            <li ><a href="/login" ><span>Login</span></a></li>
            </ul>
          </div>
        </div>
        
      </div>
      <div class="space80 d-lg-block d-none"></div>
      <div class="space40 d-lg-none d-block"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-area">
            <div class="pera">
              <p>ⓒCopyright 2024 Shop 2 Host . All rights reserved</p>
            </div>
            <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#" class="m-0"> Privacy Policy </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--===== FOOTER AREA ENDS =======-->
 </div>
 