<header>
  <div class="header-area homepage3 header header-sticky d-none d-lg-block p-0" id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav id="navbar-example2" class="navbar">
              <div class="header-elements">
                <div class="site-logo">
                  <a href="index.html"><img src="assets/img/logo/logo.png" style="width: 200px;" alt=""></a>
                  <a class="beta"><img style="width: 45px;" src="https://img.icons8.com/?size=96&id=1wvxBR96wH8b&format=png"></a>
                </div>
                <div class="main-menu">
                  <ul>

                    <li><a>Pricing & Planning <i class="fa-solid fa-angle-down"></i></a>
                      <ul class="dropdown-padding">
                        <li><a href="liteplan.html">Trial Plan</a></li>
                        <!-- <li><a href="liteplan.html">Lite Plan</a></li>
                        <li><a href="heroplan.html">Hero Plan</a></li>
                        <li><a href="proplan.html">Pro Plan</a></li> -->
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a>Rescource <i class="fa-solid fa-angle-down"></i></a>
                      <ul class="dropdown-padding">
                        <li><a href="faq.html"><span>FAQ</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                        <li><a href="about.html"><span>About</span></a></li>
                      </ul>
                    </li>


                    <li class="nav-item"><a href="login.html" class="nav-link"><span>Login</span></a></li>
                    <a href="signup.html" class="header-btn5">Sign Up</a>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
</header>
<!--=====HEADER END =======-->

<!--===== MOBILE HEADER STARTS =======-->

 <div class="mobile-header mobile-haeder2 pt-0 d-block d-lg-none">
    <div class="container-fluid" style="background: rgb(26,11,59);
    background: linear-gradient(53deg, rgba(26,11,59,1) 0%, rgba(47,24,99,1) 59%, rgba(58,30,120,1) 97%);">
      <div class="row justify-content-center">
        <div class="text-center">
          <div class="d-flex fw-semibold justify-content-center align-items-center text-white sty-top"
            style="height: 45px;">
            Get Your Dream
            E-commerce Website
            Free for 1 Week ! <button class="m-3 btn btn-sm btn-light fw-semibold">Trail Now</button>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid">

      <div class="col-12">

        <div class="mobile-header-elements">
          <div class="mobile-logo">
            <a href="index.html"><img src="assets/img/logo/logo.png" style="width: 200px;" alt=""></a>
          </div>
          <div class="mobile-nav-icon dots-menu">
            <i class="fa-solid fa-bars text-black"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="mobile-sidebar mobile-sidebar2">
    <div class="logosicon-area">
      <div class="logos">
        <img src="assets/img/logo/logo.png" style="width: 200px;" alt="">
      </div>
      <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="mobile-nav mobile-nav1">
      <ul class="mobile-nav-list nav-list1 nav-sty">

        <li class="has-sub hash-has-sub"><span class="submenu-button"><em></em></span><a
            class="hash-nav nav-sty">Pricing & Planning</a>
          <ul class="sub-menu nav-sty">
            <li class="hash-has-sub"><a href="liteplan.html" class="hash-nav nav-sty">Trial</a></li>
            <!-- <li class="hash-has-sub"><a href="liteplan.html" class="hash-nav nav-sty">Lite Plan</a></li> -->
            <!-- <li class="hash-has-sub"><a href="heroplan.html" class="hash-nav nav-sty">Hero Plan</a></li> -->
            <!-- <li class="hash-has-sub"><a href="proplan.html" class="hash-nav nav-sty">Pro Plan</a></li> -->
          </ul>
        </li>
        <li class="has-sub hash-has-sub "><span class="submenu-button"><em></em></span><a class="hash-nav text-dark">Resources</a>
          <ul class="sub-menu">
            <li class="hash-has-sub "><a href="faq.html" class="hash-nav text-dark fs-5">FAQ</a></li>
            <li class="hash-has-sub "><a href="contact.html" class="hash-nav text-dark fs-5">Contact</a></li>
            <li class="hash-has-sub "><a class="hash-nav text-dark fs-5" href="about.html"><span>About</span></a></li>
          </ul>
        </li>
        <li class="nav-item text-dark"><a href="login.html" class="nav-link text-dark">Login</a></li>
        <li class="nav-item text-dark"><a href="signup.html" class="nav-link text-dark">SignUp</a></li>


      </ul>

      <div class="allmobilesection mt-5">
        <div class="single-footer">
          <h3 class="nav-sty">Contact Info</h3>
          <div class="footer1-contact-info">
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-phone-volume nav-sty"></i>
              </div>
              <div class="contact-info-text">
                <a class="nav-sty">+91 80 6932 8980</a>
              </div>
            </div>

            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-envelope nav-sty"></i>
              </div>
              <div class="contact-info-text">
                <a class="nav-sty">info@shop2host.com</a>
                <a class="nav-sty">teamshop2host@gmail.com</a>
              </div>
            </div>

            <div class="single-footer">
              <h3 class="nav-sty">Our Location</h3>

              <div class="contact-info-single">
                <div class="contact-info-icon">
                  <i class="fa-solid fa-location-dot nav-sty"></i>
                </div>
                <div class="contact-info-text">
                  <a class="nav-sty">Shop2 Host , Payyanur , Kannur , Kerala 670353</a>
                </div>
              </div>

            </div>
            <div class="single-footer">
              <h3 class="nav-sty">Social Links</h3>

              <div class="social-links-mobile-menu">
                <ul>
                  <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--===== MOBILE HEADER STARTS =======-->