<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop2Host | Your Partner for E-commerce Solutions</title>
    <meta name="description" content="At Shop2Host, we provide easy and effective e-commerce solutions. Get your free domain, reliable hosting, and a fully customizable online store in no time.">
    <meta name="keywords" content="e-commerce, online store, website hosting, domain registration, Shop2Host, customizable design">
    <meta name="author" content="Shop2Host Team">

    <!-- Canonical URL to avoid duplicate content -->
    <link rel="canonical" href="https://www.shop2host.com/" />

    <!-- Open Graph tags for social media sharing -->
    <meta property="og:title" content="Shop2Host | Your Partner for E-commerce Solutions" />
    <meta property="og:description" content="We help you build your online store with a free domain, reliable hosting, and easy-to-manage designs." />
    <meta property="og:image" content="https://www.shop2host.com/assets/img/logo/favicon.png" />
    <meta property="og:url" content="https://www.shop2host.com/" />
    <meta property="og:type" content="website" />

   
    <!-- Link to your CSS file for styling -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Favicon for your website icon -->
    <link rel="icon" href="/assets/img/logo/favicon.png" type="image/x-icon">

    <!-- Structured Data to help search engines understand your business -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Shop2Host",
      "url": "https://www.shop2host.com/",
      "logo": "https://www.shop2host.com/assets/img/logo/logo.png",
      "sameAs": [
        "https://www.facebook.com/shop2host",
        "https://twitter.com/shop2host",
        "https://instagram.com/shop2host",

      ]
    }
    </script>

  <!--=====FAB ICON=======-->
  <!--===== CSS LINK =======-->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/aos.css">
  <link rel="stylesheet" href="/assets/css/plugins/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/mobile.css">
  <link rel="stylesheet" href="/assets/css/plugins/owlcarousel.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/sidebar.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-slider.css">
  <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/testimonials.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<!-- Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9HGG8E0VX5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9HGG8E0VX5');
</script>
<!-- End Google Tag Manager -->
  <!--=====  JS SCRIPT LINK =======-->
  <script src="/assets/js/plugins/jquery-3-6-0.min.js"></script>
</head>

<body class="homepage3-body">

    <%- body %>

 

    <!--===== JS SCRIPT LINK =======-->
  <script src="/assets/js/plugins/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/fontawesome.js"></script>
  <script src="/assets/js/plugins/aos.js"></script>
  <script src="/assets/js/plugins/counter.js"></script>
  <script src="/assets/js/plugins/gsap.min.js"></script>
  <script src="/assets/js/plugins/ScrollTrigger.min.js"></script>
  <script src="/assets/js/plugins/Splitetext.js"></script>
  <script src="/assets/js/plugins/sidebar.js"></script>
  <script src="/assets/js/plugins/magnific-popup.js"></script>
  <script src="/assets/js/plugins/mobilemenu.js"></script>
  <script src="/assets/js/plugins/owlcarousel.min.js"></script>
  <script src="/assets/js/plugins/gsap-animation.js"></script>
  <script src="/assets/js/plugins/nice-select.js"></script>
  <script src="/assets/js/plugins/waypoints.js"></script>
  <script src="/assets/js/plugins/slick-slider.js"></script>
  <script src="/assets/js/plugins/circle-progress.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/main.js"></script>

</body>


</html>
 <!-- Start of Async Drift Code -->
 <script>
  "use strict";
  
  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('wzkxsz56svrp');
  </script>
  <!-- End of Async Drift Code -->

  <style>
    ::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}
  </style>
