<%-include('../partials/userHeader')%>

<div class="about-header-area" style="background: rgb(26,11,59);
background: linear-gradient(53deg, rgba(26,11,59,1) 0%, rgba(47,24,99,1) 59%, rgba(58,30,120,1) 97%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1 class="text-white">About Us</h1>
                    <a class="text-white" href="/">Home <i class="fa-solid fa-angle-right"></i> <span>About Us</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="works-inner-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-all-images-area">
                  <div class="images image-anime">
                    <img src="/assets/img/logo/logo.png" alt="">
                </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="works-header-area heading2 specing2">
                    <h5>About Us</h5>
                    <h2>Empowering Your Online Businesse</h2>
                    <p>At Shop2Host, we are dedicated to helping businesses establish a strong online presence with ease and affordability. Founded in 2024 and based in Kerala, India, Shop2Host specializes in providing comprehensive e-commerce website development solutions tailored to meet the needs of startups, small businesses, and growing enterprises.</p>
                    <div class="space32"></div>
                    <div class="btn-area1">
                        <a class="header-btn1">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
  </div>
  
  
  <!--===== TESTIMONIAL AREA STARTS =======-->
  <div class="works-inner-section-area sp10">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="works-header-area heading2">
                    <h5>Our Mission</h5>
                    <p>Our mission is to make website creation simple, accessible, and affordable for everyone. We believe that every business, regardless of its size, deserves a professional online platform to showcase its products and services. By offering feature-rich hosting packages and easy-to-use tools, we empower entrepreneurs to bring their business ideas to life.
                      What We Offer</p>
                    <div class="space32"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons7.svg" alt="">
                        </div>
                        <div class="content">
                            <a >Affordable Pricing Plans</a>
                            <p>Our plans start at just ₹999 per month, offering cost-effective solutions for all types of businesses. Whether you’re a startup or a well-established company, we have a plan that fits your budget and requirements.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons8.svg" alt="">
                        </div>
                        <div class="content">
                            <a >All-in-One Solution:</a>
                            <p>Each of our packages includes everything you need to get started – from a free domain and hosting to professional design templates, secure payment gateways, and robust customer support.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons9.svg" alt="">
                        </div>
                        <div class="content">
                            <a >Affordable:</a>
                            <p>We offer great value at competitive prices.</p>
                        </div>
                    </div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons9.svg" alt="">
                        </div>
                        <div class="content">
                            <a >Quick Setup:</a>
                            <p>Get your website up and running within 24 hours with our streamlined setup process. No technical skills are required!</p>
                        </div>
                    </div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons9.svg" alt="">
                        </div>
                        <div class="content">
                            <a>Scalability:</a>
                            <p>As your business grows, you can easily upgrade your plan to access more features, storage, and support, ensuring your online presence evolves with your needs.</p>
                        </div>
                    </div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="assets/img/icons/works-icons9.svg" alt="">
                        </div>
                        <div class="content">
                            <a>Security and Reliability:</a>
                            <p> With a 99.9% uptime guarantee and free SSL certificates, we prioritize the security and reliability of your website, providing peace of mind to you and your customers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-all-images-area">
                  <div class="images image-anime">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="history-inner-section-area  history3 sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="history-header-area text-center heading2">
                    <h5>Why Choose Shop2Host?</h5>
                    <h4> We offer a variety of packages to fit different needs and budgets. Each package includes:</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-all-images-area">
                  <div class="images image-anime">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
                  </div>
            </div>
  
            <div class="col-lg-6">
                <div class="history-content-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="history-box-content">
                                <a >Customer-Centric Approach</a>
                                <p>We are committed to delivering excellent customer service. Our support team is always ready to assist you, whether you have a technical question or need guidance on choosing the right plan.</p>
                            </div>
                        </div>
  
                        <div class="col-lg-6 col-md-6">
                            <div class="history-box-content">
                                <a >Innovation and Simplicity</a>
                                <p>We combine cutting-edge technology with user-friendly interfaces, making it easy for anyone to create and manage their own e-commerce website.</p>
                            </div>
                        </div>
  
                        <div class="col-lg-6 col-md-6">
                            <div class="history-box-content">
                                <a>Affordable</a>
                                <p>We offer great value at competitive prices.</p>
                            </div>
                        </div>
  
                        <div class="col-lg-6 col-md-6">
                            <div class="history-box-content">
                                <a >Trusted Partner</a>
                                <p> Hundreds of businesses trust Shop2Host to power their online presence. We work tirelessly to ensure that our clients achieve success in the digital marketplace.</p>
                            </div>
                        </div>
  
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--===== CTA AREA ENDS =======-->
  
  <div class="blog-top-area sp1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="blog-top-boxarea">
                      <div class="row align-items-center">
                        <div class="col-lg-5">
                          <div class="images image-anime">
                              <img src="assets/img/logo/logo.png" alt="">
                          </div>
                      </div> 
                      <div class="col-lg-2"></div>
                          <div class="col-lg-5">
                              <div class="content-area heading2">
                                  <div class="tags-area">
                                   
                               </div>
                                  <h3>Join Us on Our Journey</h3>
                                  <p>
                                    At Shop2Host, we are more than just a hosting provider – we are your partners in growth. We invite you to join us on this exciting journey and take your business to the next level. Let’s build something great together!
                                    Ready to start? Explore our plans and get your website live today!
                                  </p>
                                  <div class="space8"></div>
                                  <div class="btn-area">
                                      <a class="header-btn1">Explore Plans<span><i class="fa-solid fa-arrow-right"></i></span></a>
                                  </div>
                                 
                                </div>
                          </div>
                         
                         
                          
                      
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<%-include('../partials/userFooter')%>