<%-include('../partials/userHeader')%>

<div class="contact1-section-area sp6" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="contact-header-area text-center heading2">
            <h2 class="text-anime-style-3" style="perspective: 400px;"><div class="split-line" style="display: block; text-align: center; position: relative;"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">G</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">e</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">t</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">I</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">n</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">T</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">o</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">u</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">c</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">h</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">W</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">i</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">t</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">h</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">U</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">s</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">T</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">o</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">d</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">a</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">y</div></div></div></h2>
            <p>Get In Touch Connect with us for unparalleled digital innovation and support.</p>
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-lg-7 aos-init aos-animate" data-aos="zoom-out" data-aos-duration="1200">
          <div class="contact-boxarea">
            <h3>Get In Touch</h3>
            <p>If you have any questions or need more information, please contact us. We’re here to help!</p>
            <form method="POST">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-area">
                    <input type="text" id="firstName" placeholder="First Name" required="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-area">
                    <input type="text" id="lastName" placeholder="Last Name" required="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-area">
                    <input type="email" id="email" placeholder="Email Address" required="">
                  </div>
                </div>
  
                <div class="col-lg-6">
                  <div class="input-area">
                    <input type="number" id="phone" placeholder="Phone Number" required="">
                  </div>
                </div>
  
                <div class="col-lg-12">
                  <div class="input-area">
                    <textarea placeholder="Your Message" id="message" required=""></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-area">
                    <a class="header-btn1" onclick="sendEmail()">Submit <span><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5 aos-init aos-animate" data-aos="zoom-out" data-aos-duration="1000">
          <div class="contact-info-area" style="background: rgb(26,11,59);
background: linear-gradient(53deg, rgba(26,11,59,1) 0%, rgba(47,24,99,1) 59%, rgba(58,30,120,1) 97%);">
            <h3>Contact Info</h3>
            
            <div class="space32"></div>
            <div class="contact-auhtor-box">
             
                <div class="content">
                  <h4>Business Hours</h4>
                  <a>
                      Monday - Friday: 9:00 AM - 6:00 PM (IST) <br>
                      Saturday: 10:00 AM - 2:00 PM (IST)<br>
                  </a>
                </div>
              </div>
              <div class="space32"></div>
            <div class="contact-auhtor-box">
        <div class="icons" style="width: 100px;">
          <img src="assets/img/icons/location2.svg" alt="">
        </div>
        <div class="content">
          <h4>Our Location</h4>
          <a >Shop2 Host , Payyanur , Kannur , Kerala 670353</a>
        </div>
      </div>
            <div class="space40"></div>
           
            <div class="contact-auhtor-box">
              <div class="icons">
                <img src="assets/img/icons/phone2.svg" alt="">
              </div>
              <div class="content">
                <h4>Phone Number</h4>
                <a>+91 80 6932 8980<br>
                </a>
              </div>
            </div>
            <div class="space40"></div>
            <div class="contact-auhtor-box">
              <div class="icons" style="width: 100px;">
                <img src="assets/img/icons/email2.svg" alt="">
              </div>
              <div class="content">
                <h4>Email Address</h4>
                <a >info@shop2host.com</a>
                <a >teamshop2host@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%-include('../partials/userFooter')%>