<%-include('../partials/userHeader')%>

<div class="about-header-area" style="background: rgb(26,11,59);
background: linear-gradient(53deg, rgba(26,11,59,1) 0%, rgba(47,24,99,1) 59%, rgba(58,30,120,1) 97%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1 class="text-white">Contact</h1>
                    <a class="text-white" href="/">Home <i class="fa-solid fa-angle-right"></i> <span>Contact</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== CHOOSE AREA STARTS =======-->

<!--===== CHOOSE AREA ENDS =======-->
<section class="section-bg contact1-section-area" style="background-image: url(https://i.ibb.co/9p3Cnk9/slider-2.jpg);"  data-scroll-index="7">
  <div class="overlay pt-100 pb-100 ">
    <div class="container">
       <div class="row">
            <div class="col-lg-6 d-flex align-items-center ">
                <div class="contact-info">

                    <h2 class="contact-title">We’d Love to Hear From You!</h2>
                    <p>At Shop2Host, we are dedicated to providing excellent customer service and support. Whether you have a question about our plans, need help with your website, or want to give feedback, we're here to help. Please feel free to reach out to us using any of the methods below.
                      Contact Information</p>
                    <ul class="contact-info">
                        <li>
                          <div class="info-left">
                              <i class="fas fa-mobile-alt"></i>
                          </div>
                          <div class="info-right">
                              <h4>+91 80 6932 8980</h4>
                          </div>
                        </li>
                        <li>
                          <div class="info-left">
                              <i class="fas fa-at"></i>
                          </div>
                          <div class="info-right">
                              <h4>info@shop2host.com</h4>
                          </div>
                        </li>
                        <li>
                          <div class="info-left">
                              <i class="fas fa-at"></i>
                          </div>
                          <div class="info-right">
                              <h4>teamshop2host@gmail.com</h4>
                          </div>
                        </li>
                        <li>
                          <div class="info-left">
                              <i class="fas fa-map-marker-alt"></i>
                          </div>
                          <div class="info-right">
                              <h4>Shop2 Host , Payyanur , Kannur , Kerala 670353</h4>
                          </div>
                        </li>
                        <li>
                          <div class="info-left">
                              <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="info-right">
                              <h4>Business Hours <br>
                                Monday - Friday: 9:00 AM - 6:00 PM (IST) <br>
                                Saturday: 10:00 AM - 2:00 PM (IST)</h4>
                          </div>
                        </li>
                        <li>
                          <div class="info-left">
                              <i class="fa-brands fa-facebook-f"></i>
                          </div>
                          <div class="info-left">
                            <i class="fa-brands fa-instagram"></i>
                          </div>
                          <div class="info-left">
                            <i class="fa-brands fa-youtube"></i>
                          </div>
                         
                        </li>
                    </ul>
                   
                     
                  </div>
                </div>
            <div class="col-lg-6 m-0 d-flex align-items-center ">
              <div class="w-100 contact-boxarea" style="padding: 3rem!important;">
                <h3 class="mb-2">Contact Us</h3>
                <form method="POST">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="input-area">
                        <input type="text" id="firstName" class="bg7"  placeholder="First Name" required="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-area">
                        <input type="text" id="lastName" class="bg7" placeholder="Last Name" required="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-area">
                        <input type="email" id="email" class="bg7" placeholder="Email Address" required="">
                      </div>
                    </div>
            
                    <div class="col-lg-6">
                      <div class="input-area">
                        <input type="number" id="phone" class="bg7" placeholder="Phone Number" required="">
                      </div>
                    </div>
            
                    <div class="col-lg-12">
                      <div class="input-area">
                        <textarea placeholder="Your Message" class="bg7" id="message" required=""></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-area">
                        <div class="space10"></div>
                        <a class="header-btn1" onclick="sendEmail()">Submit <span><i class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
            </div>
       </div>
   </div>
      </div>
</section>

<!--===== TESTIMONIAL AREA STARTS =======-->
<div class="mapouter">
  <div class="gmap_canvas">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31208.92426071879!2d75.18481034910532!3d12.104242552673705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba46db4bee336ef%3A0x51175a88285b831!2sPayyanur%2C%20Kerala!5e0!3m2!1sen!2sin!4v1725536905618!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div> 

<%-include('../partials/userFooter')%>