<div class="wrapper">
    <%-include('../partials/dashboardMenu')%>

        <div class="main" style="height: 100vh;">
            <main class="content p-0" style="overflow-x: hidden;">
            <%-include('../partials/dashboardNav')%>
                <div class="container-fluid p-0">
                    <div class="row  p-4">
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="plan">
                                <div class="inner">
                                    <span class="pricing">
                                        <span>
                                            ₹999 <small>/ m</small>
                                        </span>
                                    </span>
                                    <p class="title">Lite Plan</p>
                                    <p class="info">Great for small businesses. Includes domain, limited storage, and
                                        essential features to get you started</p>
                                    <ul class="features ps-0">
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Free <strong>.in</strong> Domain</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>5GB</strong> Storage</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Monthly Renewal at <strong>₹499</strong></span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>1</strong> Bussiness Email</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>Limited Resources</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>Single Payment Gateway</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span><strong>99.9%</strong> Uptime</span>
                                        </li>
                                    </ul>
                                    <div class="action">
                                        <a class="button" href="/create-store?plan=lite&amount=999">Choose plan</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="plan">
                                <div class="inner">
                                    <span class="pricing">
                                        <span>
                                            ₹1999 <small>/ m</small>
                                        </span>
                                    </span>
                                    <p class="title">Hero Plan</p>
                                    <p class="info">Perfect for growing businesses. More storage, unlimited email, and
                                        extra features like chatbots and multiple payment options.</p>
                                    <ul class="features ps-0">
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Free <strong>.com</strong> Domain</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>20GB</strong> Storage</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Monthly Renewal at <strong>₹1499</strong></span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>3</strong> Bussiness Email</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>Multi Payment Gateway</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>Live Chat Bot</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span><strong>99.9%</strong> Uptime</span>
                                        </li>
                                    </ul>
                                    <div class="action">
                                        <a class="button" href="/create-store?plan=hero&amount=1999">Choose plan</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="plan">
                                <div class="inner">
                                    <span class="pricing">
                                        <span>
                                            ₹2999 <small>/ m</small>
                                        </span>
                                    </span>
                                    <p class="title">Pro Plan</p>
                                    <p class="info">For larger businesses. Unlimited storage and email, with advanced
                                        features and unlimited admin access.</p>
                                    <ul class="features ps-0">
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Free <strong>.com</strong> Domain</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>Unlimited</strong> Storage</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> Monthly Renewal at <strong>₹2499</strong> Storage</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span> <strong>5</strong> Bussiness Email</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>Unlimited Resources</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span>AI Chat Bot</span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path fill="currentColor"
                                                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span><strong>99.9%</strong> Uptime</span>
                                        </li>
                                    </ul>
                                    <div class="action">
                                        <a class="button" href="/create-store?plan=pro&amount=2999">Choose plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <%-include('../partials/dashboardFooter')%>
            </main>

        </div>
</div>

<script src="js/app.js"></script>