<div class="wrapper">
    <%- include('../partials/dashboardMenu') %>

        <div class="main" style="height: 100vh;">
            <%- include('../partials/dashboardNav') %>

                <main class="content p-0" style=" overflow-x: hidden;">
                    <div class="container-fluid p-0">
                        <div class="card">
                            <div class="card-header d-flex justify-content-center">
                                <h5 class="card-title mb-0 col-12 col-lg-10 col-md-10 col-sm-12">Store Details</h5>
                            </div>
                            <div class="card-body justify-content-center">
                                <form action="/store-details" method="POST" enctype="multipart/form-data">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 w-100">
                                                <label class="form-label">Store Name</label>
                                                <input type="text" class="form-control" name="storeName" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 w-100">
                                                <label class="form-label mb-2 ">Store Logo</label>
                                                <input type="file" class="form-control" style="padding-left: 16px;padding-top: 6px;" id="imageUpload" name="logo"
                                                    accept="image/*" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header ps-0 d-flex justify-content-center">
                                        <h5 class="card-title mb-0 col-12 col-lg-10 col-md-10 col-sm-12">Contact
                                            Information</h5>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 w-100">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" name="address" required>
                                            </div>
                                            <div class="mb-1 w-100">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" name="email" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 w-100">
                                                <label class="form-label">Phone</label>
                                                <input type="tel" class="form-control" name="phone" required>
                                            </div>
                                            <div class="mb-1 w-100">
                                                <label class="form-label">Whatsapp Number</label>
                                                <input type="tel" class="form-control" name="whatsapp" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex justify-content-center gap-2">
                                        <a href="/create-store" type="submit" id="anim-btn" class="anim-buton-sty">
                                            <p class="anim-btn-text" style="padding: 5%;font-weight: 600;">Back</p>
                                            <div class="checkbox">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-left align-middle fw-bold">
                                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                                    <polyline points="12 19 5 12 12 5"></polyline>
                                                </svg>
                                            </div>
                                        </a>
                                        <button type="submit" id="anim-btn" class="anim-buton-sty">
                                            <p class="anim-btn-text" style="padding: 5%;font-weight: 600;">Next</p>
                                            <div class="checkbox">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right align-middle ms-2">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>

                <%- include('../partials/dashboardFooter') %>
        </div>
</div>

<script src="/js/app.js"></script>

<script>
    document.querySelector('.upload-btn').addEventListener('click', function () {
        document.getElementById('imageUpload').click();
    });
</script>